* {
  border: 2px solid red;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/diego-passadori-e6frrz-kh-0-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

main {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

img {
  height: 55%;
  width: 60%;
  border-radius: 10px;
  border: 1px solid black;
}

.play-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.hidden {
  visibility: hidden;
}
